<p>Larson Thorpe</p>
<p>Project 2</p>
<p>Hypothesis paper</p>

<p>Hypothesis</p>

<p>In an array, n, the time to find an element using a linear search should be n -1 for every iteration of the element found. Potentially reducing the time it may take to find extra elements within the array.</p>
<p>The time to sort an array of random numbers using bubble sort would be proprotional to (a - 1) multiplied by the number of iterations (length.a - 1).</p>
<p>With the time to sort an already sorted array n with bubble sort should be n/1. </p>

<p>Answers</p>


